@font-face{
  font-family:"Precious";
  src: local("Precious"), url(../Fonts/Precious.ttf)
}

.titolo-pagamento{
  position:relative;
  top:35px;
  font-size:50px;
  line-height:50px;
  font-family:"Precious";
  color:rgb(255, 255, 130);
  width:100%;
  text-align:center;
}



.cart-content{
  width:100%;
  position:relative;
  margin-right:15px;
  height:300px;
}

.cart-product-list{
  margin:30px;
  display:inline-block;
  width:200px;
  text-align:right;
  border:1px solid white;
  margin-top:70px;
  height:270px;
  scrollbar-color: white black;
  scrollbar-width:thin;
  overflow-y:scroll;
}

.product-div-cart{
  margin:15px;
  margin-bottom:5px;
  position:relative;
}
.nome-cart{
  font-size:14px;
  font-weight:bold;
  color:rgb(255, 255, 130);
}

.codice-cart{
  font-size:8px;
  
}

.prezzo-cart{
  font-size:12px;
  font-weight:bold;
}

.total-price-div{
  width:500px;
  display:block;
  position:relative;
  align-content:right;
  text-align:right;
  margin-left:20px;
  top:-10px;

}

.total-label{
  font-size:32px;
  font-family:"Precious";
  margin-top:10px;
  display:inline-block;
  position:relative;
}

.price{
  font-size:25px;
  margin-left:20px;
  color:white;
  font-weight:bold;
  font-style:italic; 
  font-family:"Comic Sans";
  display:inline-block;
  z-index:1;
}


.euro-symbol-cart{
  font-size:12px;
  color:white;
  font-weight:bold;
  font-style:italic;
  font-family:"Comic Sans";
  position:relative;
  left:5px;
  top:-15px;
  display:inline-block;
  z-index:1;
}




.buy-button-payment-cart{
  display:block;
  background:rgb(0, 0, 175);
  color:white;
  font-family:"Precious";
  font-size: 20px;
  width:170px;
  height:40px;
  position:relative;
  display:inline-block;

}



::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-track {
  background:black;
}
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
} 




.total-form-payment{
  margin-left:20px;
  position:relative;
  border:1px solid white;
  height:270px;
  text-align:right;
  display:inline-block;
  left:-20px;
  top:-30px;
  width:250px;
  overflow-y: scroll;
  overflow-x:hidden;
  background:rgb(165, 165, 165);
  scrollbar-color: white black;
  scrollbar-width:thin;
  color:black;
}


::-webkit-scrollbar {
  width: 10px;
  position:relative;
}


::-webkit-scrollbar-track {
  background:black;
}


::-webkit-scrollbar-thumb {
  background: #f1f1f1;
} 

.button-paypal-container {
  width: 200px !important;
  position:relative;
  top: -50px;
  left:30px;
  z-index:6;

}

#sumup-card{
  background-color:white;
  position:absolute;
  top:-510px;
  z-index:7;
  left:-280px;
  width:400px;
}

.sumup-card-visible{
  display:block !important;
}

.sumup-card-invisible{
  display:none !important;
}

.sumup-button-payment-cart{
  display:block;
  background:rgb(168, 167, 167);
  color:black;
  font-family:"Precious";
  font-size: 20px;
  width:200px;
  height:45px;
  position:relative;
  top:-50px;
  left:30px;
  z-index:6;

}
