@font-face{
  font-family:"Precious";
  src: local("Precious"), url(../Fonts/Precious.ttf)
}

@font-face{
  font-family:"Worstveld";
  src: local("Worstveld"), url(../Fonts/WorstveldSling.ttf)
}


.chi-siamo-tooltip-container{
  width:700px;
  height:400px;
  background:black;
  border:white 1px solid;
  position:absolute;
  top:12px;
  left:110px;
  z-index:2;
  overflow-y:scroll;
  scrollbar-color: white black;
  scrollbar-width:thin;
  margin:15px;
}


.title-chi-siamo{
  position:relative;
  top:20px;
  font-size:50px;
  font-family:Precious;
}

.biography-top{
  position:relative;
  width:300px;
  height:200px;
  margin:15px;
  font-family:"Worstveld";
  white-space:pre-wrap;
  background:none;
  font-size:24px;
  text-align:justify;
  display:inline-block;
  top:30px;
}


.foto-famiglia-laterale{ 
  position:relative;
  width:330px;
  height:200px;
  background:green;
  top:30px;
  display:inline-block;
}

.biography-bottom{
  font-family:"Worstveld";
  white-space:pre-wrap;
  position:relative;
  margin:15px;
  width:650px;
  background:none;
  height:350px;
  display:block;
  font-size:24px;
  text-align:justify;
  top:15px;

}


.foto-famiglia-sotto{
  position:absolute;
  margin:15px;
  background:blue;
  height:250px;
  top:550px;
  width:650px;
  display:block;

}

.bottom-space-chi-siamo{
  position:absolute;
  top:850px;
  width:650px;
  background:black;
  height:5px;
}

::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-track {
  background:black;
}
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
} 