@font-face{
  font-family:"Precious";
  src: local("Precious"), url(../Fonts/Precious.ttf)
}

@font-face{
  font-family:"Worstveld";
  src: local("Worstveld"), url(../Fonts/WorstveldSling.ttf)
}

.contatti-tooltip-container{
  width:300px;
  height:400px;
  background:black;
  border:white 1px solid;
  position:absolute;
  top:30px;
  left:110px;
  z-index:2;
  overflow-y:scroll;
  scrollbar-color: white black;
  scrollbar-width:thin;
  font-family:"Worstveld";
  font-size:18px;
  font-weight:bold;
}

.logo-contatti{
  border:white 1px solid;
  position:relative;
  left:30px;
  margin:15px;
  width:200px;
  height:125px;
  background-image:url("../Immagini/logoScifo.bmp");
  background-size:cover;
  display:block;
}



.facebook-logo{
  position:relative;
  width:50px;
  height:50px;
  background-image:url("../Immagini/Contatti/facebook.png");
  background-size:contain;
  display:inline-block;
}



.whatsapp-logo{
  position:relative;
  width:50px;
  height:50px;
  background-image:url("../Immagini/Contatti/whatsapp.png");
  background-size:contain;
  display:inline-block;
}

.email-logo{
  position:relative;
  width:50px;
  height:50px;
  background-image:url("../Immagini/Contatti/email.png");
  background-size:contain;
  display:inline-block;
}

.cell-logo{
  position:relative;
  width:50px;
  height:50px;
  background-image:url("../Immagini/Contatti/phone.png");
  background-size:100% 100%;
  display:inline-block;
}



.facebook-contatti{
  position:relative;
  border:white 1px solid;
  margin:10px;
  width:270px;
  height:50px;
  text-align:left;
  vertical-align:middle;
}


.whatsapp-contatti{
  position:relative;
  border:white 1px solid;
  margin:10px;
  width:270px;
  height:50px;
  text-align:left;
  vertical-align:middle;
}


.email-contatti{
  position:relative;
  vertical-align:middle;
  border:white 1px solid;
  margin:10px;
  width:270px;
  height:50px;
  text-align:left;
}

.cell-contatti{
  vertical-align:middle;
  position:relative;
  border:white 1px solid;
  margin:10px;
  width:270px;
  height:50px;
  text-align:left;

}

.label-whatsapp{
  display:inline-block;
  position:relative;
  width:80%;
  top:-22px;
  left:12px;
}


.label-email{
  position:relative;
  display:inline-block;
  top:-22px;
  left:12px;
  width:80%;

}


.label-facebook{
  display:inline-block;
  position:relative;
  top:-22px;
  left:14px;
  width:80%;

}

.label-cell{
  position:relative;
  display:inline-block;
  top:-22px;
  left:12px;
  width:80%;

}

