@-webkit-keyframes changePic {
  0%    {background-image: url("../Immagini/Homepage/quadro1.jpg");}
  18%   {background-image: url("../Immagini/Homepage/quadro1.jpg");}
  20%   {background-image: url("../Immagini/Homepage/piatti.jpg");}
  38%   {background-image: url("../Immagini/Homepage/piatti.jpg");}
  40%   {background-image: url("../Immagini/Homepage/fiori.jpg");}
  58%   {background-image: url("../Immagini/Homepage/fiori.jpg");}
  60%   {background-image: url("../Immagini/Homepage/stelle.jpg");}
  78%   {background-image: url("../Immagini/Homepage/stelle.jpg");}
  80%   {background-image: url("../Immagini/Homepage/bomboniereNozze.jpg");}

}

@keyframes changePic {
  0%    {background-image: url("../Immagini/Homepage/quadro1.jpg");}
  18%   {background-image: url("../Immagini/Homepage/quadro1.jpg");}
  20%   {background-image: url("../Immagini/Homepage/piatti.jpg");}
  38%   {background-image: url("../Immagini/Homepage/piatti.jpg");}
  40%   {background-image: url("../Immagini/Homepage/fiori.jpg");}
  58%   {background-image: url("../Immagini/Homepage/fiori.jpg");}
  60%   {background-image: url("../Immagini/Homepage/stelle.jpg");}
  78%   {background-image: url("../Immagini/Homepage/stelle.jpg");}
  80%   {background-image: url("../Immagini/Homepage/bomboniereNozze.jpg");}
}





.animation-div{
  left: 5%;
  position: relative;
  display: block;
  height:inherit;
  border: 5px ridge gray;
  background-image: url("../Immagini/Homepage/quadro1.jpg");
  background-size: contain;
  animation: changePic 30s infinite;
  -webkit-animation: changePic 30s infinite;}



.animation-class{
  position: relative;
  width: 430px;
  height: 300px;
  display: inline-block;
  vertical-align: top;
}
