@font-face{
  font-family:"Precious";
  src: local("Precious"), url(../Fonts/Precious.ttf)
}

body{
  background-color:black; 
  color:white;
  align-content:center;
  background-image: url("../Immagini/sfondoFigo.jpg");
  background-size: cover;
}


#headerTitolo{
  position:absolute;
  width:1200px;
  align-content:center;
  /* padding-left:100px; */
}


#divLogin{
  position:absolute;
  left: 1000px;
  margin-top:2%;
  text-decoration:underline;
  font-family:courier;
  font-weight:bold;

}


.titolo{
  align-content:center;
  font-family: "Precious";
  font-size: 400%;
  margin-top: 6%;
  margin-bottom: 4%;
  display: block;
}


.access-section{
  position:relative;
  top:350px;
  display:inline-flex;
  text-decoration:underline;
  font-family:"Precious";
  font-size:40px;

}
.space-5{
  height:5%;
}

.space-20{
  display:block;
  position:absolute;
  height:20%;
  width:100%;
  top:600px;
  background:blue;
}

.horizontally-spaced-100{
  padding-left:100px;
}



.menu-context-class{
  display: block;
  background: none;
  color: white;
  width: 1200px;
  position: relative;
  top:140px;
  align-content:center;
  /* padding-left:100px; */

}


.category-button-unselected{
  border-radius: 10px;
  height: 42px;
  font-family: "Precious";
  font-size: 130%;
  background: black;
  color: white;
  display: block;
  width: 100%;
  border: 1px solid white;
  margin-bottom: 1%;
  text-shadow: 0 0 4px red, 0 0 6px blue;

}

.category-button-selected{
  height:42px;
  width:100%;
  font-family:"Precious";
  font-size:130%;
  background:grey;
  color:black;
  border:1px white solid;
  text-decoration:underline;
  display:block;
  border-radius:10px;
  margin-bottom:1%;

}





.central-class{
  position: absolute;
  width: 1200px;
  height: 295px;
  line-height:295px;
  display: block;
  margin-top: 5%;
  top: 170px;
  align-content:center;
  /* padding-left:100px; */

}


.category-list-class{
  position: relative;
  width: 180px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  padding-right:10px;
  left:-30px;
}

.category-list-class-left{
  position: relative;
  width: 180px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  left:80px;
  padding-right:10px;
}



.search-div-class{
  position: absolute;
  width: 800px;
  left: 400px;
  top: 600px;
  font-family: Precious;
  font-size: 30px;
  text-align: left;
}

.label-search{
  position:absolute;
  left:300px;
  height:20px;
  line-height:20px;

  
}


.search-filter-class{
  color:white;
  position:absolute;
  top:50px;
  font-size:24px;
  left:-10%;
  background:black;
  border:solid 1px white;
  font-family:Courier;
  width:70%;
  display:inline-block;

}

.logo-div{
  position: absolute;
  top: 1870px;
  text-align: center;
  width: 1200px;
}

.logo-im{
  position:relative;
  width:300px;
  width:150px;
}

.references{
  font-family:"Arial Narrow";
  font-size:12px;
  color:white;
  position:relative;
  display:inline-block;
  vertical-align:top;
  left:3%
}


.products-div{
  position: absolute;
  top: 720px;
  width: 70%;
  left:20%;
}


.search-icn{
  width:33px;
  position:absolute;
  left:60%;
  top:50px;
}


.promotions-selected{
  width:190px;
  height:40px;
  position:absolute;
  font-family:"Precious";
  font-size:24px;
  color:blue;
  border:1px solid white;
  text-decoration:underline;
  display:inline-block;
  background:rgb(255, 255, 119);
  top:645px;
  left:950px;
}


.promotions-unselected{
  position:absolute;
  width:190px;
  height:40px;
  font-family:"Precious";
  font-size:24px;
  background:none;
  color:white;
  border:1px solid white;
  display:inline-block;
  top:645px;
  left:950px;
  background:black;

}
