@font-face{
  font-family:"Precious";
  src: local("Precious"), url(../Fonts/Precious.ttf)
}



.menu-span-element{
  position:relative;
}


.menu-button-unselected{
  width:200px;
  height:40px;
  font-family:"Precious";
  font-size:24px;
  background:none;
  color:white;
  border:none;
  display:inline-block;
}

.menu-button-selected{
  width:200px;
  height:40px;
  font-family:"Precious";
  font-size:24px;
  background:none;
  color:white;
  border:none;
  cursor:pointer;
  text-decoration:underline;
  display:inline-block;
}
