@font-face{
  font-family:"Precious";
  src: local("Precious"), url(../Fonts/Precious.ttf)
}


@font-face{
  font-family:"Worstveld";
  src: local("Worstveld"), url(../Fonts/WorstveldSling.ttf)
}


ul{
  line-height:20px;
  text-align:justify;
}

.pacchetti-tooltip-container{
  width:560px;
  height:400px;
  top:10px;
  left:-10px;
  background-image:url("../Immagini/Pacchetti/marmo.jpg");
  border:grey 1px solid;
  color:black;
  position:absolute;
  font-family:"Precious";
  z-index:4;
  overflow-y:scroll;
  scrollbar-color:  black white;
  scrollbar-width:thin;
  margin:20px;
  left:100px;
}



::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-track {
  background:white;
}

::-webkit-scrollbar-thumb {
  background: black;
} 

.titolo-pacchetti{
  font-size:50px;
  line-height:50px;
  position:relative;
  top:30px;
}

.subtitle-pacchetti{
  position:relative;
  line-height:20px;
  font-family:"Precious";
  font-weight:bold;
  top:20px;
  font-size: 20px;
  margin-top:30px;
}


.packages-list{
  position:relative;
  height:600px;
  line-height:600px;
  overflow-y:hidden;
}

.package-container{
  position:relative;
  margin:15px;
  margin-top:40px;
  height:150px;
  line-height:150px;
  width:92%;

}

.description-package{
  position:relative;
  width:48%;
  height:150px;
  line-height:150px;
  display:inline-block;
  /* font-family:"Worstveld"; */
  font-family:"courier";

  vertical-align:top;
  font-size:12px;
  /* font-weight:bold; */
}

.image-package{
  position:relative;
  width:50%;
  height:90%;
  display:inline-block;
  border:5px solid rgb(170, 169, 169);
  border-style: ridge;
  vertical-align:middle;
}



.prezzo-package{
  position:relative;
  font-size:30px;
  color:red;
  display:inline-block;
  font-weight:bold;
  font-style:italic;
  font-family:"Comic Sans";
  z-index:1;
  top:-40px;
  left:20px;
  height:30px;
  line-height:30px;
}


.euro-symbol-package{
  font-size:20px;
  color:red;
  font-weight:bold;
  font-style:italic;
  font-family:"Comic Sans";
  position:relative;
  top:-10px;
  display:inline-block;
  left:5px;
  z-index:1;
  height:30px;
  line-height:30px;
}
