@font-face{
  font-family:"Elephant";
  src: local("Elephant"), url(../Fonts/Elephant.ttf)
}


.admin-panel-container{
  position: absolute;
  z-index: 7;
  background: rgb(175, 172, 172);
  color: black;
  display: block;
  width: 50vw;
  left: 36vw;
  top: 15vh;
  font-size: 12px;
  height: 55vw;
}



.title-panel{
  font-size: 2.7vw;
  padding: 2.5vw;
  font-family: "Elephant";
  position: relative;
}


.colonnaLabel{
  width: 15%;
  display: inline-block;
  height: 75%;
  text-align: right;
  padding: 0.5vw;
  vertical-align: top;
}

.labelField{
  width: 100%;
  font-size: 3vh;
  height: 65%;
}



.colonnaInput{
  width: 64%;
  height: 65%;
  display: inline-block;
  padding: 0.5vw;
  vertical-align: top;
}

.row{
  padding-bottom: 2.5vh;
  max-height: 3vh;
  display: flex;
  align-items: center;
}



.footerAdmin{
  position: relative;
  height: 7%;
  width:100%;
  top: -5%;
}


#submit{
  position: relative;
  width: 35%;
  height: 100%;
  display: inline-block;
}

#close{
  position: relative;
  width: 35%;
  height: 100%;
  margin-left: 5vh;
  display: inline-block;
}


.input-text-admin{
 
  position: relative;
  width: 100%;
  font-size: 2vh;
  height: 3vh;
}



@media only screen and (min-width: 1500px) {

}