@font-face{
  font-family:"Precious";
  src: local("Precious"), url(../Fonts/Precious.ttf)
}


@font-face{
  font-family:"Worstveld";
  src: local("Worstveld"), url(../Fonts/WorstveldSling.ttf)
}


ul{
  line-height:20px;
  text-align:justify;
}

.partners-tooltip-container{
  width:560px;
  height:400px;
  /* background:black; */
  background-image:url("../Immagini/Pacchetti/marmo.jpg");
  border:black 1px solid;
  color:black;
  font-family:"Precious";
  overflow-y:scroll;
  overflow-x:hidden;
  scrollbar-color:  black white;
  scrollbar-width:thin;
  z-index:4;
  position:absolute;
  left:-450px;
}



::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-track {
  background:black;
}

::-webkit-scrollbar-thumb {
  background: white;
} 

.titolo-partners{
  font-size:50px;
  line-height:50px;
  position:relative;
  top:30px;
}

.subtitle-partners{
  position:relative;
  line-height:20px;
  font-family:"Precious";
  top:24px;
  font-size: 20px;
  margin-top:30px;
  font-weight:bold;

}


.partners-list{
  display:block;
  position:relative;
  margin:15px;
  width:100%;
  height:40px;
}


.partners-category-div{ 
  position:relative;
  width:70%;
  height:40px;
  line-height:40px;
  border:2px solid white;
  font-family:"Precious";
  background:black;
  color:white;
  font-size:24px;
  vertical-align:middle;
}


.partner-block{
  position:relative;
  border:1px solid white;
  width:70%;
  margin-top:20px;
  /* font-family:"Worstveld"; */
  font-family:"courier";
  background:rgb(255, 255, 136);
  font-size:12px;
  text-align:justify;
  margin-left:85px;
  margin-bottom:20px;
}

.name-partner{
  font-weight:bold;
  margin-left:5px;
}

.field-partner{
  margin-left:5px;
}

.visible-block{
  width:100%;
  height:100%;
}

.invisible-block{
  width:100%;
  height:100%;
  display:none;
}