@font-face{
  font-family:"Precious";
  src: local("Precious"), url(../Fonts/Precious.ttf)
}


.payment-module{
  width:100%;
  font-size:12px;
  font-family:"Arial";
  text-align:center;
  align-content:center;
}

.titolo-payment-form{
  position:relative;
  top:18px;
  font-size:24px;
  color:black;
  font-family:"Precious";
  padding-bottom:10px;
}

.total-form{
  position:relative;
  top:30px;
  text-align:left;
  left:20px;
}

.form-payment{
  position:relative;
  text-align:left;
  display:block;
  left:20px;
  padding-bottom:10px;
}


.form-payment-note{
  position:relative;
  vertical-align:bottom;
  text-align:left;
  top:10px;
  left:16px;

}

.label-shipping-mode{
  font-weight:bold;
  font-size:12px;
}

.form-payment-paymentMode{
  position:relative;
  vertical-align:bottom;
  margin-bottom:50px;
  text-align:left;
/*RESO INVISIBILE*/
  display:none;
  top:20px;
  border:1px black solid;
}


.form-payment-shippingMode{
  position:relative;
  vertical-align:bottom;
  margin-bottom:50px;
  text-align:left;
  display:inline-block;
  top:20px;
  border:1px black solid;
}


.label-payment{
  display:block;
  text-align:left;
  width:20px;
  position:relative;
  left:-20px;
  font-size:14px;
  font-weight:bold;
  padding-bottom:10px;
}

.input-payment{
  display:block;
  position:relative;
  font-size:12px;
  height:12px !important;
  line-height: 12px !important;
  width:180px;
  left:-20px;

}



.input-payment-textarea{
  display:inline-block;
  position:relative;
  font-size: 12px;
  line-height: 12px;
  height:60px;
  width:180px;
  left:-20px;
}


.label-radio-payment{
  font-size:12px;
  position:relative;
  top:-5px;
  text-align:left;
  font-family:Arial;
}

.buy-button-payment{
  display:block;
  background:rgb(0, 0, 175);
  color:white;
  font-family:"Precious";
  font-size: 20px;
  width:100px;
  height:40px;
  position:relative;
  top:65px;
}