@font-face{
  font-family:"Precious";
  src: local("Precious"), url(../Fonts/Precious.ttf)
}


@font-face{
  font-family:"Worstveld";
  src: local("Worstveld"), url(../Fonts/WorstveldSling.ttf)
}





.header-detail{
  display:block;
  height: 200px;
  position:relative;
  

}

.body-detail{
  position:relative;
  top:-50px;
  display:inline-block;
  align-content:center;
  vertical-align:top;
  height: 300px;
}

.footer-detail{
  position:relative;
  display:block;
  top:-80px;
  height: 100px;
}


.nome-detail{
  display:block;
  position:relative;
  top:30px;
  font-size:60px;
  color:rgb(255, 255, 130);
}

.codice-detail{
  position:relative;
  top:20px;
  font-size:8px;
}

.image-detail-2{
  position:relative;
  display:block;
  width: 250px;
  height:180px;
  left:-30px;
  background-size: contain;
  border-style:groove;
  border:1px solid white;
  z-index:3;

}

.image-detail-3{
  position:relative;
  display:block;
  width: 250px;
  height:170px;
  z-index:4;
  top:-40px;
  left:30px;
  background-size: contain;
  border-style:groove;
  border:1px solid white;
}

.description-detail{
  position:absolute;
  top:0px;
  margin-right:15px;
  display:block;
  font-size:28px;
  font-family:"Worstveld";
}

.add-to-cart-button{
  position:absolute;
  top:265px;
  left: 45px;
  background:rgb(0, 0, 175);
  color:white;
  font-family:"Precious";
  font-size: 25px;
  width:240px;
  height:50px;
}

.column-left-detail{
  display:inline-block;
  width: 350px;
}


.column-right-detail{
  vertical-align:top;
  display:inline-block;
  position:relative;
  width: 300px;
}

.prezzo-detail{
    margin-top:15px;
    position:absolute;
    top:285px;
    right:12px;
    font-size:25px;
    color:  rgb(255, 255, 130);
    font-weight:bold;
    font-style:italic;
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    display:inline-block;

  }

  .euro-symbol-detail{
    font-size:15px;
    color:rgb(255, 255, 130);
    font-weight:bold;
    font-style:italic;
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    position:relative;
    top:-10px;
    right:0px;
    padding-left:2px;
    display:inline-block;
  }


  .quantity-select{
    display:block;
    position:absolute;
    top:120px;
    width:200px;
    font-size:10px;
    line-height:10px;
    margin-left:30px;
    box-sizing:content-box;
  }

  .riquadro-specifiche{
    border:1px solid white;
    position:absolute;
    top:100px;
    height:80px;
    width:250px;
    margin-left:30px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top:70px;
    font-size:12px;
    text-align:center;
    vertical-align:middle;
  }

  .payment-div{
    display:"inline-block";
    background: rgb(160, 160, 160);
    height:100px;
    width:310px;
    border:white 1px solid;
    z-index:3;
    position:relative;
    height: 500px;
    left:400px;
    vertical-align:top;
    color:black;
    font-family:"Arial";
    font-size:12px;
    font-weight:Normal;
  }


  .main-div-tooltip{
    display:inline-block;
    width: 680px;
    background:black;
    border:1px solid white;
    position:absolute;
    left:80px;
    vertical-align:top;
    z-index:2;

  }

  .father-tooltip-component{
    font-family: "Precious";
    align-content:left;
  }
