@font-face{
  font-family:"Precious";
  src: local("Precious"), url(../Fonts/Precious.ttf)
}

.square-div{
  width:270px;
  height:270px;
  line-height:270px;
  background-image: url("../Immagini/Homepage/stelle.jpg");
  background-size:contain;
  margin: 20px;  
}


#nome-prod{
  font-size:35px;
  font-weight:normal;
  color:white;
  top:10px;
  font-family: "Precious";
  z-index:1;
}

#prezzo-prod{
  font-size:25px;
  line-height:25px;
  color:rgb(255, 255, 130);
  font-weight:bold;
  font-style:italic;
  font-family:Impact, 'Arial Narrow Bold', sans-serif;
  display:inline-block;
  margin-top:10px;
  z-index:1;
}


.euro-symbol{
  font-size:15px;
  color:rgb(255, 255, 130);
  font-weight:bold;
  font-style:italic;
  font-family:Impact, 'Arial Narrow Bold', sans-serif;
  position:relative;
  top:-15px;
  display:inline-block;
  left:5px;
  z-index:1;
}


#codice-prod{
  font-size:10px;
  font-weight:normal;
  color:white;
  font-family:"Arial Narrow";
  z-index:1;
  margin-bottom:5px;
}



.global-div{
  vertical-align: top;
  display: inline-block;
  width:300px;
  height:500px;
}


.tooltip-class{
  height: 500px;
  width: 1000px; 
  top:  -250px;
  position: relative;
}



.tick-class{
  background-image: url("../Immagini/tick.png");
  width:60px;
  height:65px;
  position:relative;
  background-size:cover;
  top:200px;
  left:-5px;
}