@font-face{
  font-family:"Precious";
  src: local("Precious"), url(../Fonts/Precious.ttf)

}

@font-face{
  font-family:"Worstveld";
  src: local("Worstveld"), url(../Fonts/WorstveldSling.ttf)
}





.riepilogo-div{
  background:none;
  align-content:right;
  text-align:left;
  width:300px;
  color:white;
  position:relative;
  top:20px;
  left:600px;
  margin:5px;
  font-size:12px;

}

.cart-icon{
  position:relative;
  display:inline-block;
  background: url("../Immagini/cart.png");
  background-size:contain;
  font-size: 25px;
  width:50px;
  height:50px;
  left:20px;
  vertical-align:top;
}



.numero-prodotti-totale{
  vertical-align:top;
  position:absolute;
  top:30px;
  left:-40px;
  display:inline-block;
  background:none;
  color:rgb(31, 255, 31);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:bold;
  font-size: 30px;
  line-height:30px;
  width:500px;
  height:50px;
}



.go-to-cart-button{
  vertical-align:top;
  position:relative;
  display:inline-block;
  background:rgb(0, 0, 175);
  color:white;
  font-family:"Precious";
  font-size: 25px;
  width:240px;
  height:50px;
}

.numero-prodotti-carrello{
  position:relative;
  top:-25px;
  left:295px;
  width:40px;
  height:40px;
  z-index:2;
  font-size:40px;
  color:yellow;
  font-weight:bold;
  font-style:italic;
  font-family:"Comic Sans";
  display:inline-block;
}


.number{
  text-align:center;
  display:inline-block;
  width:30px;
  height:30px;
  line-height:30px;
  background:black;
  color:white;
  border:none;
  border-radius:20px;
  font-weight:bold;
  margin-left:5px;
  pointer-events:all;
  }


.number-selected{
  text-align:center;
  display:inline-block;
  width:30px;
  height:30px;
  line-height:30px;
  background:white;
  color:black;
  border:none;
  border-radius:20px;
  font-weight:bold;
  margin-left:5px;
  font-stretch: expanded;
  pointer-events:all;

}



.cart-div{
  width:550px;
  height:500px;
  position:absolute;
  background:black;
  z-index:6;
  top:20px;
  left:-450px;
  border:white 1px solid;
  display:block;
  scrollbar-color: white black;
  scrollbar-width:thin;

}


.space{
  width:10px;
}



::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-track {
  background:black;
}


::-webkit-scrollbar-thumb {
  background: #f1f1f1;
} 


.pagination-div{
    position:absolute;
    top:1070px;
    width:100%;
    left:0%;
    height:30px;
    line-height:30px;
    font-size: 20px;
    font-family:"Worstveld";
}



@media screen and (max-width: 992px){

    .pagination-div{
      padding-left:40%;
    }

    
  }